<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partial/head %>
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<% include ../partial/header %>


			<!-- Navbar Header -->
			<% include ../partial/navbar %>


		</div>

		<!-- Sidebar -->
			<% include ../partial/sidebar %>


		<!-- End Sidebar -->

		<div class="main-panel">
      <div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Basic</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="basic-datatables" class="display table table-striped table-hover" >
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>Password</th>

											</tr>
										</thead>

										<tbody>
											<% for(var i=0; i<user.length; i++){%>
							          <tr>
							            <td><a href="/users/userdetail/<%=user[i]._id%>"><%= user[i].name %></a></td>
							            <td><%= user[i].email %></td>
							            <td><%= user[i].password %></td>
							          </tr>
							        <%}%>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>




				</div>



			<% include ../partial/footer %>


		</div>

		<!-- Custom template | don't include it in your project! -->
  <% include ../partial/footer %>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<% include ../partial/script %>


</body>
</div>
</div>
	<% include ../partial/script %>
</body>

<script src="/javascripts/jquery-3.4.1.js" charset="utf-8"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('#basic-datatables').DataTable({
		});


	});
</script>
</html>
